{
  "allowUnknownCAs": false,
  "allowUnauthorized": false,
  "strictSSL": true,
  "audit": true,
  "audit-level": "moderate",
  "engine-strict": true,
  "fund": false,
  "ignore-scripts": false,
  "bin-links": true,
  "save-exact": true,
  "save-prefix": "",
  "depth": 1,
  "dry-run": false,
  "force": false,
  "global-style": false,
  "hoist": false,
  "ignore-pkg-conf": false,
  "legacy-peer-deps": false,
  "omit": [
    "dev"
  ],
  "optional": false,
  "prefer-offline": false,
  "progress": true,
  "rebuild-bundle": true,
  "save-type": "prod",
  "unicode": true,
  "update-notifier": true
}